.control {
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}

#gameArea {
    background-color: #AB8F6A;
    width: 1000px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#timer {
    margin-left: auto;
    margin-right: auto;
    background-color: darkslategrey;
    width: 600px;
    height: 30px;
}

#dollar {
    float:right;
    background-color: gold;
    width: 60px;
    height: 30px;
}

.tab {
    background-color: gold;
    height:20px;
    border: none;
    color: black;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#panel {
    background-color: #110700;
    border: 1px solid gold;
    border-radius: 4px;
    height: 180px;
}

#panel li {
    background-color: #21070A;
    border: 2px solid gold;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    float: left;
}
