body {
    background-color: black;
}

.container {

}

h1 {
    text-align: center;
    font-size: x-large;
    font-weight: 200;
    font-family: Impact;
}

.button {
    background-color: gold;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: crimson;
    color: white;
    font-weight: bold;
}

.button#introduction {
    background-color: transparent;
    color: white;
}
